.card-block {
    width: 100px;    
}



.navbar-text {
    display: none;
}

.phone-number {        
    font-size: 12px;        
}

.phone-number > img {
    width: 12px;
    height: 12px;
}        

.phone-number > span {
    font-size: 11px;
}        

.credit-card {
    width: 24px;
    max-height: 100%;
}


.social-icon {
    width: 35px;
    max-height: 35px;    
}

.copyright {    
    padding-bottom: 1%;
    width: 100%;
    margin-top: 5%;
    text-align: center;
}

.footer {
    font-size: 10px;
}

.social-title, .ifood-title {
    display: none;
}


.social-button {
    margin-top: 10%;    
    margin-left: 10%;    
}


.ifood-logo {    
    margin-top: 25%;    
    width: 50px;
    max-height: 100%;    
}

.credit-card {
    width: 35px;
    max-height: 100%;
    margin-top: 10%;
}

