html {

}

body {
    background-color: rgb(119, 162, 163);
}


#phone-list {
    padding-bottom: 10px;       
}


.phone-number {
    color: white;    
    font-size: 14px;
    font-weight: bold;    
}

.phone-number:hover {    
    color: yellow;
    font-size: 100%;
}