.card-block {
    width: 100px;    
}

.navbar-text {
    display: none;
}

.phone-number {        
    font-size: 12px;        
}

.phone-number > img {
    width: 12px;
    height: 12px;
}        

.phone-number > span {
    font-size: 11px;
}

.nav-button-wrapper {    
    height: 7rem;    
    margin-top: 15%;
    margin-bottom: 22.5%;
}

.nav-button {    
    height: 5rem;    
    width: 30%;
    border: 3px solid grey;    
    display: inline-block;
    box-shadow: 5px 5px 5px #888888;
}

.nav-button > span {    
    font-size: 0.66rem;
}

#carousel {    
    width: 100%;    
    padding: 0%;

}

.carousel-item img{    
    height: 12rem;
}

.credit-card {
    width: 24px;
    max-height: 100%;
}


.social-icon {
    width: 35px;
    max-height: 35px;    
}

.copyright {    
    padding-bottom: 1%;
    width: 100%;
    margin-top: 5%;
    text-align: center;
}

.footer {
    font-size: 10px;
}

.social-title, .ifood-title {
    display: none;
}


.social-button {
    margin-top: 10%;    
    margin-left: 10%;    
}


.ifood-logo {    
    margin-top: 25%;    
    width: 50px;
    max-height: 100%;    
}

.credit-card {
    width: 35px;
    max-height: 100%;
    margin-top: 10%;
}

