html {
    height: 100%;
}

body {
    background-color: rgb(128, 128, 128);
    display: flex;
    min-height: 100%;
    flex-direction: column;    
}

p {
    margin-left: 5%;
    margin-right: 5%;
}

.navbar-text {
    font-size: 0.9rem;
}
.phone-number {        
    font-size: 42px;        
    text-align: center;
}
    
.phone-number > img{
    width: 42px;
    height: 42px;
}


.wrapper {
    background-color: white;    
}


.social-icon {
    width: 60px;
    max-height: 60px;
}        

.copyright {        
    padding-bottom: 0.1%;
    width: 100%;    
    text-align: center;
    margin-top: 1.5%;
}

.phone-number {    
    color: white;
    font-weight: bold;            
}        


#phone-list {
    padding-bottom: 10px;       
}

.phone-number:hover {        
    color: yellow;    
}


#carousel {    
    margin-top: 0.2%;
    width: 100%;    
}

.carousel-item img {    
    height: 20rem;
}



#sobre, #cardapio, #contato {
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}

#sobre h1, #cardapio h1, #localizacao h1, #contato h1{
    margin-top: 2%;
}

#contato form {
    margin: 0 auto;
    width: 75%;
}

#contato form input{
    margin: -15px 0px -15px 0px;    
}

#contato form button{
    margin-top: 3%;
    margin-bottom: 5%;
}

.download-button {
    color: white !important;    
}


.footer {    
    color: white;    
    position: relative;
    background-color: black;       
    margin-top: 0.5%;
    width: 100%;
    /* display: flex; */
}


.social-title {    
    margin-top: 1%;
}

.social-button {
    margin-top: 1%;    
    margin-left: 5%;
}

.ifood {
    margin-top: 2%;
}

.ifood-logo {
    margin-left: 20%;
    margin-top: 10%;
    background-color: red;
    width: 80px;
    max-height: 100%;    
}

#credit-cards {
    color: white;
    font-size: 12px;    
    margin-top: 2%;
}

.credit-card {
    width: 80px;
    max-height: 100%;
}

#map iframe {
 width: 100%;
 height: 300px;
 max-height: 100%;   
}

.nav-button-wrapper {
    background-color: white;
    height: 17rem;
    padding: 1rem;
    margin-top: 1.5%;
    margin-bottom: 2%;
}

.nav-button {
    background-color: white;
    height: 15rem;
    margin-left: 2%;
    width: 31%;
    border: 4px solid grey;    
    display: inline-flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px #888888;
    justify-content: center;
    text-align: center;
    text-decoration: inherit !important;
    color: inherit;    
}


.nav-button:hover {
    background-color: rgb(214, 210, 210);
    color: white;
}

.nav-button img {
    max-height: 65%;    
    margin: 0 auto;
    margin-top:3%;
    width: 100%;
}

.nav-button > span{    
    font-size: 1rem;    
    width: 100%;
    margin-top: 7%;    
}

